/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* Layout Styles */
a {
	color: #000;
	text-decoration: none !important;
}
 
header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer {
    background: #333;
    padding: 10px 0;
}

.page-title {
    margin: 0 auto;
    width: auto;
    max-width: 90%;
}

/* Main content area */

.container {
    padding: 20px;
}

.menu-item {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
    border: 1px solid #ddd;
}

.menu-item.active {
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-item h4 {
    margin-bottom: 10px;
}

.menu-item p {
    margin-bottom: 0;
}


/* Intro Text and Menu Fade-in Animation */
.intro-text {
    display: inline-block;
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    font-size: 1.5rem;
}

.intro-text h2 {
    font-size: 2rem;
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive adjustments (Mobile) */
@media (max-width: 768px) {
    .menu-item {
        margin-bottom: 20px;
        transition: background-color 1s  ease-in-out, box-shadow 1s  ease-in-out ;
    }

    .intro-text h2 {
        font-size: 2.5rem;
    }

    .intro-text p {
        font-size: 1.5rem;
    }

    .page-title {
        font-size: 1.5rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}